page-forgot-password {
    .page-forgot-password{
        .grid-t{
            .logo{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;
                overflow: hidden;
                border-width: 2px;
                border-style: solid;
                border-color:color($colors, light); 
                .image{
                    
                    display: block;
                    opacity: 0.10;
                }
            }
        }
        .grid-b{
            
        }
    }
}